button{
    margin:10px
}

#myTable{
    
}

.Block{
    display: flex;
    width: 100%;
   background-color: #f4f5f7
}

.Block .first{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background:white;
    width: 40px;
    height: 40px;
    margin: 10px
}

.Block .red{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background-color:red;
    width: 40px;
    height: 40px;
    margin: 10px
}

.Block .blue{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background-color:blue;
    width: 40px;
    height: 40px;
    margin: 10px
}


.Block .second{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background:white;
    width: 40px;
    height: 40px;
    margin: 10px
}

.Block .third{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background:white;
    width: 40px;
    height: 40px;
    margin: 10px
}

.Block .fourth{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background:white;
    width: 40px;
    height: 40px;
    margin: 10px
}


.Block .row1{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background:white;
    width: 40px;
    height: 40px;
    margin: 10px
}

.Block .row2{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background:white;
    width: 40px;
    height: 40px;
    margin: 10px
}

.Block .row3{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background:white;
    width: 40px;
    height: 40px;
    margin: 10px
}

.Block .row4{
    flex: 1;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    background:white;
    width: 40px;
    height: 40px;
    margin: 10px
}